:root {
    --color-accent: mediumblue;
    --color-fill: white;
    --color-secondary-fill: white;

    --radius-reg: 1.5em;
    --radius-max: 9999px;

    --space-xs: 1em;
    --space-s: 1.5em;
    --space-m: 3em;
    --space-l: 10em;
    --space-xl: 20em;
    --space-xxl: 30em;
}




body {
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




input::-webkit-search-cancel-button {
    display: none;
}
input, button {
    all: unset;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    line-height: 1cap;
    background-color:white;
    font-family: "Montserrat", system-ui, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    line-height: normal;
}




header {
    position: sticky;
    top: 0;
}


header .upper {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-fill);
    
    position: relative;
    z-index: 2;

    padding: var(--space-s);
}
header .upper > * {
    display: flex;
    align-items: center;
}

header .logo {
    gap: var(--space-xs);
}
header .logo .symbol {
    font-size: 3.5em;
}
header .logo .slogan {
    line-height: 1.75em;
}

header .utility-nav {
    gap: var(--space-s);
}
header .utility-nav > * {
    display: flex;
    align-items: center;
    height: var(--space-m);
    
    border: 1px solid;
    border-radius: var(--radius-max);
}
header .utility-nav .label {
    padding: 0 var(--space-xs);
}
header .utility-nav .icon {
    align-self: stretch;
    aspect-ratio: 1 / 1;
    background-color: currentColor;
    
    border-radius: var(--radius-max);
}

header .inquire-btn {
    color: var(--color-accent);
    font-weight: 500;
}
header search input::placeholder {
    color: currentColor;
    opacity: 0.5;
}
header search input {
    field-sizing: content;
    max-width: 20ch;
    opacity: 1;
}


header .main-nav {
    position: relative;
    z-index: 1;
    background-color: var(--color-fill);
    
    color: var(--color-accent);
    font-weight: 500;
    
    line-height: normal;
    padding-bottom: var(--space-s);
    
    transition: all 0.4s ease;
}
header .main-nav.hidden {
    transform: translateY(-100%);
}
header .main-nav > * {
    display: flex;
    justify-content: space-around;
}




main {
    display: grid;
    grid-template-columns: [edge-start] 1fr [canvas-start] min(40em, 45%) [mid] min(40em, 45%) [canvas-end] 1fr [edge-end];
    padding: var(--space-s) 0;
    row-gap: var(--space-xl);
}

main > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: edge-start / -edge-end;
    row-gap: var(--space-l);
}


.hero .banner {
    grid-column: edge-start / mid;
    height: var(--space-xxl);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-secondary-fill);
    border-radius: 0 var(--radius-max) var(--radius-max) 0;
    padding: var(--space-s);
}

.hero .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}
.hero .intro > * {
  max-width: 30ch;
}

.hero .trust-bar {
    display: flex;
    grid-column: canvas-start / canvas-end;
    gap: var(--space-s);
}
.hero .trust-bar > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--space-l);
    width: 100%;

    background-color: var(--color-secondary-fill);
    border-radius: var(--radius-reg);
    padding: var(--space-s);
}