:root {
    --color-accent: #1A5BC7;
    --color-fill: white;
    --color-secondary-fill: white;

    --radius-reg: 1.5em;
    --radius-max: 9999px;

    --space-xs: 1em;
    --space-s: 1.5em;
    --space-m: 3em;
    --space-l: 10em;
    --space-xl: 20em;
    --space-xxl: 30em;

    --glass-material: blur(30px) saturate(180%) brightness(0.99);
    --glass-material-bg: rgb(255 255 255 / .5);
    --glass-material-shadow:
    0 0 0 1px rgb(255 255 255 / .5) inset,
    0 0 0 1px rgb(0 0 0 / .05),
    0px 0px 1em rgb(0 0 0 / .15);

    --transition-reg: 0.4s ease, transform 0.4s ease;
    --transition-delay-reg: 0.2s, 0s;
}




body {
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




input::-webkit-search-cancel-button {
    display: none;
}
input, button {
    all: unset;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    line-height: 1cap;
    background-color:white;
    font-family: "Montserrat", system-ui, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    line-height: normal;
}




header {
    position: sticky;
    top: 0;
    z-index: 999;
}


header .upper {
    display: flex;
    justify-content: space-between;

    backdrop-filter: var(--glass-material);
    background-color: var(--color-fill);
    box-shadow: 0 0 0 1px rgb(255 255 255 / 0) inset,
    0 0 0 1px rgb(0 0 0 / 0),
    0px 0px 1em rgb(0 0 0 / 0);
    
    position: relative;

    padding: var(--space-s);
    transition: var(--transition-reg)
}
header .upper > * {
    display: flex;
    align-items: center;
}
header .upper.hidden {
    backdrop-filter: var(--glass-material);
    background-color: var(--glass-material-bg);
    box-shadow: var(--glass-material-shadow);
    transition: var(--transition-reg);
    transition-delay: var(--transition-delay-reg);
}

header .logo {
    gap: var(--space-xs);
}
header .logo .symbol {
    font-size: 3.5em;
}
header .logo .slogan {
    line-height: 1.75em;
}

header .utility-nav {
    gap: var(--space-s);
}
header .utility-nav > * {
    display: flex;
    align-items: center;
    height: var(--space-m);

    position: relative;
    overflow: hidden;
    
    border: 1px solid;
    border-radius: var(--radius-max);
    
    transition: var(--transition-reg);
}
header .utility-nav > *::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    background: currentColor;
    border-radius: var(--radius-max);
    
    transform-origin: right;
    transform: translateX(calc(100% - 3em));
    transition: inherit;

}
header .utility-nav > *:hover .label {
    color: white;
    transition: inherit;
}
header .utility-nav > *:hover::after {
    transform: translateX(0);
    transition: inherit;
}

header .utility-nav .label {
    padding: 0 var(--space-xs);
}
header .utility-nav .icon-container {
    align-self: stretch;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: currentColor;
    
    border-radius: var(--radius-max);
}
header .utility-nav .icon {
    width: 50%;
    filter: brightness(0) invert(1);
}

header .inquire-btn {
    color: var(--color-accent);
    font-weight: 500;
}
header search input::placeholder {
    color: currentColor;
    opacity: 0.5;
}
header search input {
    field-sizing: content;
    max-width: 20ch;
    opacity: 1;
}


header .main-nav {
    position: relative;
    z-index: -1;
    background-color: var(--color-fill);
    box-shadow: var(--glass-material-shadow);
    
    color: var(--color-accent);
    font-weight: 500;
    
    line-height: normal;
    padding-bottom: var(--space-s);
    
    transition: var(--transition-reg);
}
header .main-nav.hidden {
    background-color: transparent;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 0) inset,
    0 0 0 1px rgb(0 0 0 / 0),
    0px 0px 1em rgb(0 0 0 / 0);
    color: transparent;

    transform: translateY(-100%);

    transition: var(--transition-reg);
    transition-delay: var(--transition-delay-reg);
}
header .main-nav > * {
    display: flex;
    justify-content: space-around;
}




main {
    display: grid;
    grid-template-columns: [edge-start] 1fr [canvas-start] min(40em, 45%) [mid] min(40em, 45%) [canvas-end] 1fr [edge-end];
    padding: var(--space-s) 0;
    row-gap: var(--space-xl);
}

main > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: edge-start / -edge-end;
    row-gap: var(--space-l);
}


.hero .banner {
    grid-column: edge-start / mid;
    position: relative;
    height: var(--space-xxl);
    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: var(--glass-material);
    background-color: var(--glass-material-bg);
    box-shadow: var(--glass-material-shadow);

    border-radius: 0 var(--radius-max) var(--radius-max) 0;
    padding: var(--space-s);
    overflow: hidden;
}
.hero .banner .visual {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    gap: var(--space-xs);
}
.hero .intro .heading {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: inherit;
}
.hero .intro .heading::before {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: var(--radius-max);
    background: var(--color-accent);
}
.hero .intro > * {
    max-width: 30ch;
}

.hero .trust-bar {
    display: flex;
    grid-column: canvas-start / canvas-end;
    gap: var(--space-s);
}
.hero .trust-bar > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--space-l);
    width: 100%;

    backdrop-filter: var(--glass-material);
    background-color: var(--glass-material-bg);
    box-shadow: var(--glass-material-shadow);

    border-radius: var(--radius-reg);
    padding: var(--space-s);
}
.hero .trust-bar .stats-value {
    color: var(--color-accent);
    font-size: 3em;
    line-height: 1cap;
    font-weight: 500;
}